.playbar {
  height: 80px;
  box-shadow: 0 -5px 10px #0000006e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #070e16;
  display: flex;
  align-items: center;
  padding: 0 3%;
}
.player {
  width: 1000px;
}
.playBox {
  /* position: relative; */
  overflow-x: hidden;
  width: 18%;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.playbox_title {
  font-weight: 300;
  font-size: 18px;
  height: 24px;
  width: 300px;
  margin-left: 15px;
  color: white;
  overflow-x: hidden;
}

.playbox_album {
  height: 24px;
  font-weight: 200;
  margin-left: 15px;
  color: white;
  overflow-x: hidden;
}

.music_player {
  display: flex;
  align-items: center;
}

.btn_reset {
  all: unset;
  cursor: pointer;
}

.prev {
  width: 18px;
  height: 18px;
  background-image: url("../images/controls/prev.svg");
  background-size: cover;
}

.play {
  margin: 0 15px;
  width: 35px;
  height: 35px;
  background-size: cover;
  mask-size: cover;
}

.next {
  width: 18px;
  height: 18px;
  background-image: url("../images/controls/next.svg");
  background-size: cover;
}

.prev:hover,
.next:hover {
  opacity: 0.7;
}

.audio_image {
  width: 45px;
  height: 45px;
  padding-left: 25px;
}

.graph {
  padding-top: 5%;
  width: 30px;
  height: 30px;
}
