.playbar {
  height: 80px;
  box-shadow: 0 -5px 10px #0000006e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #070e16;
  display: flex;
  align-items: center;
  padding: 0 3%;
}
.player {
  width: 1000px;
}
.playBox {
  /* background-color: aqua; */
  width: 20%;
}

.music_player {
  display: flex;
  align-items: center;
}

.btn_reset {
  all: unset;
  cursor: pointer;
}

.prev {
  width: 20px;
  height: 20px;
  background-image: url("../images/controls/prev.svg");
  background-size: cover;
}

.play {
  margin: 0 15px;
  width: 40px;
  height: 40px;
  background-size: cover;
}

.next {
  width: 20px;
  height: 20px;
  background-image: url("../images/controls/next.svg");
  background-size: cover;
}

.audio_image {
  width: 45px;
  height: 45px;
  padding-left: 25px;
}

.graph {
  width: 30px;
  height: 30px;
}

audio::-webkit-media-controls-panel {
  height: 100%;
  background-color: #070e16;
  outline: none;
  border-width: 0;
}
audio::-webkit-media-controls-mute-button {
}
audio::-webkit-media-controls-play-button {
  transform: scale(2);
  background-image: url(../images/icons/play_album.svg);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin: 0 20px;
}
audio::-webkit-media-controls-pause-button {
  opacity: 0.1;
}

audio::-webkit-media-controls-timeline-container {
}
audio::-webkit-media-controls-current-time-display {
  color: white;
  text-shadow: none;
}
audio::-webkit-media-controls-time-remaining-display {
  color: white;
  text-shadow: none;
}
audio::-webkit-media-controls-timeline {
  background-color: #ff305c;
}
audio::-webkit-media-controls-volume-slider-container {
}
audio::-webkit-media-controls-volume-slider {
}
audio::-webkit-media-controls-seek-back-button {
}
audio::-webkit-media-controls-seek-forward-button {
}
audio::-webkit-media-controls-fullscreen-button {
}
audio::-webkit-media-controls-rewind-button {
}
audio::-webkit-media-controls-return-to-realtime-button {
}
audio::-webkit-media-controls-toggle-closed-captions-button {
}
