.playbar {
  height: 80px;
  box-shadow: 0 -5px 10px #0000006e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #070e16;
  display: flex;
  align-items: center;
  padding: 0 3%;
}
.playBox {
  /* position: relative; */
  cursor: pointer;
  overflow-x: hidden;
  width: 18%;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.playbox_title {
  font-weight: 300;
  font-size: 18px;
  height: 24px;
  width: 300px;
  margin-left: 15px;
  color: white;
  overflow-x: hidden;
}

.playbox_album {
  height: 24px;
  font-weight: 200;
  margin-left: 15px;
  color: white;
  overflow-x: hidden;
}

.music_player {
  display: flex;
  width: 100%;
  align-items: center;
}

.btn_reset {
  all: unset;
  cursor: pointer;
}

.prev {
  width: 18px;
  height: 18px;
  background-image: url("../images/controls/prev.svg");
  background-size: cover;
}

.play {
  margin: 0 15px;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  /* mask-size: cover; */
}

.next {
  width: 18px;
  height: 18px;
  background-image: url("../images/controls/next.svg");
  background-size: cover;
}

.full_back {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("../images/controls/back.svg");
  background-size: cover;
}

.prev:hover,
.next:hover {
  opacity: 0.7;
}

.audio_image {
  width: 45px;
  height: 45px;
  padding-left: 25px;
}

.graph {
  padding-top: 5%;
  width: 30px;
  height: 30px;
}

.player {
  width: 20px;
  height: 25px;
}

audio {
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

audio::-webkit-media-controls-panel {
  margin-left: 20px;
  /* background-color: #070e16; */
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-duration-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button {
  visibility: hidden;
}

@media (orientation: portrait) {
  .playBox {
    width: 75%;
  }
  .music_player {
    width: 40%;
  }
}

/* FULL PLAYER */
.full_player {
  /* display: none; */
  position: absolute;
  overflow: hidden;
  background-color: #070e16;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.full_player_img {
  width: 120%;
  height: 120%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  filter: blur(2);
  -webkit-filter: blur(8px) brightness(50%);
}

.full_player_control {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.full_playBox {
  width: 800px;
  margin: auto;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.full_audio_image {
  width: 50%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.full_playbox_title {
  width: max-content;
  margin-top: 10px;
  font-weight: 500;
  font-size: 42px;
  color: white;
}
.full_playbox_album {
  width: fit-content;
  font-weight: 300;
  font-size: 22px;
  margin: 10px 0 30px 0;
  color: white;
}

.full_prev {
  width: 24px;
  height: 24px;
  background-image: url("../images/controls/prev.svg");
  background-size: cover;
}

.full_play {
  margin: 0 15px;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.full_next {
  width: 24px;
  height: 24px;
  background-image: url("../images/controls/next.svg");
  background-size: cover;
}

.full_controls {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 2%;
  margin-top: 2%;
}
