.Searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 50px 250px 50px;
}

.search_holder {
  width: 500px;
}

.Searchbar.dark {
  margin: 30px 50px 30px 50px;
}

.search:focus {
  outline: none;
}

.search {
  caret-color: #888888;
  border: 1px solid #747474;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 40px;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  padding: 0 25px;
  height: 36px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.search.dark {
  color: black;
  background-color: rgba(11, 28, 27, 0.04);
  border: 1.5px solid #8b8b8b;
}

.link {
  width: 30%;
  display: flex;
  justify-content: end;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.link.dark {
  color: black;
  font-weight: 500;
}

.link div {
  margin-left: 20px;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -ms-transition: opacity ease-in-out 0.2s;
  -o-transition: opacity ease-in-out 0.2s;
}

.link div:hover {
  opacity: 0.9;
}

.Share {
  margin-left: 5px;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}

.Share:hover {
  margin-left: 10px;
}

@media (orientation: portrait) {
  .link {
    display: none;
  }
}
