.Searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 50px 250px 50px;
}

.search:focus {
  outline: none;
}

.search {
  caret-color: #313131;
  border: 1px solid #0b121b;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 40px;
  width: 600px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  padding: 0 25px;
  height: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.link {
  width: 15%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.link div {
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -ms-transition: opacity ease-in-out 0.2s;
  -o-transition: opacity ease-in-out 0.2s;
}

.link div:hover {
  opacity: 0.9;
}

.Share {
  margin-left: 5px;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}

.Share:hover {
  margin-left: 10px;
}
