.container {
  background-color: #0b121b;
  width: 100%;
  height: 100%;
}

.logo {
  margin: 30px 0 0 50px;
  width: 90px;
  height: auto;
}

.nav_box {
  color: white;
  margin: 50px 50px;
}

.nav_box div {
  opacity: 50%;
  font-weight: 200;
  font-size: 14px;
  list-style-type: none;
}

.nav_box ul {
  padding: 0;
  list-style-type: none;
}

.nav_box li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 15px;
  font-weight: 300;
  font-size: 17px;
  list-style-type: none;
  margin-top: 30px;
  transition: all ease-in 0.15s;
  -webkit-transition: all ease-in 0.1s;
  -moz-transition: all ease-in 0.1s;
  -ms-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
}

.nav_box li:hover {
  opacity: 0.8;
}

.nav_icons {
  height: 14px;
  margin-right: 16px;
}

@media (orientation: portrait) {
  .logo {
    margin: 30px 0 0 15px;
  }
  .nav_box {
    display: flex;
    margin: 15px 15px;
  }
  .nav_box div {
    display: none;
  }
  .nav_box ul {
    align-items: center;
    display: flex;
  }
  .nav_box_contain::-webkit-scrollbar {
    display: none;
  }
  .nav_box_contain {
    align-items: center;
    display: flex;
    overflow: scroll;
  }
  .nav_box li {
    margin-top: 0px;
    padding: 8px 20px;
    border: 1px solid rgba(108, 108, 108, 0.2);
    border-radius: 50px;
    font-weight: 300;
    font-size: 16px;
    width: max-content;
    margin-right: 10px;
    background-color: #1f2636;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .nav_icons {
    margin-right: 8px;
  }
  .container {
    background-color: #070e16;
  }
  .container.light {
    background-color: #fff;
  }
  .logo.light {
    filter: invert(6%) sepia(38%) saturate(807%) hue-rotate(172deg)
      brightness(34%) contrast(152%);
    -webkit-filter: invert(6%) sepia(38%) saturate(807%) hue-rotate(172deg)
      brightness(24%) contrast(102%);
  }
}
