.song_list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0b121b83;
  justify-content: space-between;
  padding: 0 10px;
}

.song_list_text {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin: 20px 0;
  font-weight: 500;
  cursor: pointer;
}

.song_list_time {
  font-size: 16px;
}

.song_list_text.play {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin: 20px 0;
  font-weight: 500;
  cursor: pointer;
  color: #ff305c;
}
.song_list_time.play {
  color: #ff305c;
}
