.heading {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-left: 50px;
  color: white;
}

.songs_container::-webkit-scrollbar {
  display: none;
}

.songs_container {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 50px;
  margin-bottom: 50px;
}

@media (orientation: portrait) {
  .heading {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 15px;
    color: white;
  }
  .songs_container {
    margin-left: 15px;
  }
}
