.main_section {
  overflow: hidden;
}

/* Right section */
.right {
  background-color: #070e16;
  /* background-image: url("./Components/images/icons/cover_prop.png"); */
  background-size: cover;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 17.5%;
  right: 0;
  bottom: 0;
  padding-bottom: 5%;
  overflow-x: scroll;
  padding-top: 150px;
}

.right::-webkit-scrollbar {
  display: none;
}

/* left section */
.left {
  position: absolute;
  top: 0;
  right: 82.5%;
  left: 0;
  bottom: 0;
}

.black_grad {
  background-image: linear-gradient(
    to bottom,
    rgb(55, 57, 95, 0),
    rgba(55, 57, 95, 0.229),
    #04040d,
    #04040d,
    #04040d,
    #04040d
  );
  width: 100%;
  height: 1200px;
}

/* Navigation pages */
.navigate {
  background-color: white;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 17.5%;
  right: 0;
  bottom: 0;
  padding-bottom: 5%;
  overflow-x: scroll;
}

.navigate::-webkit-scrollbar {
  display: none;
}

@media (orientation: portrait) {
  .left {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 80%;
    z-index: -1;
  }
  .right {
    padding-top: 50px;
    z-index: -2;
    background-color: #070e16;
    background-image: none;
  }
  .right,
  .navigate {
    overflow-x: hidden;
    left: 0;
    right: 0;
    top: 20%;
  }
  .black_grad {
    background-image: none;
  }
}
